:root {
  --primary-color: rgba(15, 15, 15, 0.4);
  --secondary-color: #1BA098;
  --tertiary-color: #cccc;
}

* {
  box-sizing: border-box; 
}

body { 
  background: url(images/Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0 auto;
}

div {
  display: block;
}

/* Top banner */

.topBanner {
  background-color: var(--primary-color);
  border: 2px solid var(--tertiary-color);
  left: 0px;
  top: 0px;
  height: 4em;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: inline;
  text-align: center;
  padding: 2px;
  font-size: 1em;
  color: #ffff;
  text-decoration: none;
}

li a {
  display: inline;
  color: var(--tertiary-color);
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  color: var(--tertiary-color);
}

.menuBar {
  float: right;
  height: 60px;
  padding: 0;
  align-self: auto;
  list-style-type: none;
  margin-top: 2%;
  margin-right: 10%;
}

.name {
  color: #ffff;
  font-family: cursive;
  font-size: 1.3rem;
  background-color: var(--secondary-color);
  margin-left: 10%;
  width: fit-content;
  height: 100%;
  text-align: center;
  padding: 0.4em;
}

.name h2 {
  margin: 0 auto;
}

a {
  color: #ffff;
  font-size: 1.2em;
  text-decoration: none;
}