/* color scheme  */
:root {
  --primary-color: #051622;
  --secondary-color: #1BA098;
  --tertiary-color: #DEB992;
}

* {
  box-sizing: border-box; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

/* Main section start */
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > section, 
nav {
  flex: 0 0 20vw;
}
#main > section {
  order: -1;
}
/* Main section end
Header and footer section start */

header, footer {
  height: 20vh;
}
header, footer, article, nav, section {
  padding: 1em;
}

/* Header and footer ending
Slideshow :start */

.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: grab;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}