/* color scheme  */
:root {
  --primary-color: #051622;
  --secondary-color: #1BA098;
  --tertiary-color: #DEB992;
}

* {
  box-sizing: border-box; 
  margin: 0 auto;
  position: relative;
  display: block;
}

ul {
  display: block;
  margin: 1em 1em 0px 0px;
  padding-inline-start: 40px;
}

li {
  display: inline;
  text-align: center;
  padding: 2px;
  font-size: 1em;
  color: var(--secondary-color);
}