/* color scheme: #051622, #1BA098, #DEB992 */

body {
  font-family: system-ui;
  background: #051622;
  color: #1BA098;
  text-align: left; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box; 
}

#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 20vw;
  background: #051622;
}
#main > nav {
  order: -1;
}
header, footer {
  background:#051622;
  height: 20vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}
